#navigation, #bodycontent, #header {
	position: absolute;
}

#navigation, #bodycontent {
	top: 6.30em;
}

#navigation {
	width: 13%;
	background-color: #7da5d8;
	height: 100%;
	background: #7da5d8;
	text-align: left;
}

#bodycontent {
	left: 14%;
}

#header {
	width: 100%;
	border-top: 3px solid #7da5d8;
}

body {
	background-color: #e2edff;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	line-height: 125%;
	padding: 0;
	margin: 0;
}

#tagline p {
	font-style: italic;
	font-family: Georgia, Times, serif;
	background-color: #bed8f3;
	border-top: 3px solid #7da5d8;
	border-bottom: 3px solid #7da5d8;
	margin: 0;
	background: #bed8f3 url(../images/tagline-fade.png) repeat-y right;
}

#site-nav {
	font-style: italic;
	font-family: Georgia, Times, serif;
	display: inline;
}

#navigation a {
	text-decoration: none;
}

h1 {
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: x-large;
	background-color: navy;
	color: white;
	padding-top: 2em;
	padding-bottom: .2em;
	padding-left: .4em;
	margin: 0;
}

h2 {
	font-size: medium;
	font-weight: normal;
	color: navy;
}

li {
	font-size: small;
	list-style-type: none;
}

h1, h2, h3 {
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
}

span {
	font-weight: bold;
	color: blue;
}

p {
	font-size: small;
	color: navy;
}

a {
	font-weight: bold;
	color: black;
}

a:link {
	color: black;
}

a:visited {
	color: navy;
}

a:hover {
	text-decoration: none;
	color: white;
	background-color: navy;
}

a:active {
	color: aqua;
	background-color: navy;
}

em {
	font-style: normal;
	text-transform: uppercase;
}

.fun {
	color: #339999;
	font-family: Georgia, Times, serif;
	letter-spacing: 0.05em;
}

blockquote.fun {
	font-style: italic;
}

.attentiongrab {
	width: 50%;
	font-weight: bold;
}

.feature {
	float: right;
	margin: 10px;
}

.galleryphoto {
	padding-bottom: 20px;
	border-bottom: 1px solid navy;
	margin-bottom: 10px;
}

.galleryphoto img {
	border: 15px solid white;
}

.galleryphoto p {
	font-size: 65%;
	font-weight: bold;
	margin-top: 0;
	width: 430px;
	line-height: 1.4em;
}

.photocredit {
	font-weight: normal;
	color: gray;
}

table.events {
	border-collapse: collapse;
}

table.events th, table.events td {
	padding: 4px;
	border: 1px solid #000066;
}

table.events th {
	font-size: x-small;
	text-align: left;
	background: #241374 url(backgrounds/header-bg.jpg);
	color: #ffffff;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 2px;
	padding-right: 2px;
}

table.events td {
	font-size: small;
}

table.events td:hover {
	color: navy;
	background-color: #ccc;
}

table.events caption {
	color: #000066;
	font-size: small;
	text-align: left;
	padding-bottom: 5px;
	font-weight: bold;
}

form.contact fieldset {
	border: 2px solid navy;
	padding: 10px;
}

form.contact legend {
	font-weight: bold;
	font-size: small;
	color: navy;
	padding: 5px;
}

form.contact label {
	font-weight: bold;
	font-size: small;
	color: blue;
}

form.contact label.fixedwidth {
	display: block;
	width: 240px;
	float: left;
}

form.contact .buttonarea input {
	background: navy;
	color: white;
	font-weight: bold;
	padding: 5px;
	border: 1px solid white;
}

form.contact .buttonarea {
	text-align: center;
	padding: 4px;
	background-color: #0066ff;
}